/* Set default vars on body and reset on color scheme*/
:root,
body,
[data-color-scheme],
[data-color-scheme='light'] {
	--tlp-svg-color-1: #ffffff;
	--tlp-svg-color-2: #1e2b3c;
	--tlp-svg-color-3: #edcfc5;
	--tlp-svg-color-4: #f45f63;
	--tlp-svg-color-5: #e5aa20;
	--tlp-svg-color-6: #1e98f5;
}

[data-color-scheme='dark'] {
	--tlp-svg-color-1: #ffffff;
	--tlp-svg-color-2: #384a5e;
	--tlp-svg-color-3: #f9e8e8;
	--tlp-svg-color-4: #f45f63;
	--tlp-svg-color-5: #e5aa20;
	--tlp-svg-color-6: #1e98f5;
}

/* Digdir farga, lys strek, ish blå figur */
/* 
[data-color-scheme='dark'] {
	--tlp-svg-color-1: #ffffff;
	--tlp-svg-color-2: #405469;
	--tlp-svg-color-3: #e6e6e6;
	--tlp-svg-color-4: #f45f63;
	--tlp-svg-color-5: #e5aa20;
	--tlp-svg-color-6: #1e98f5;
} */

/* lys figur - alt1 */
/* [data-color-scheme='dark'] {
	--tlp-svg-color-1: #212121;
	--tlp-svg-color-2: #beddf6;
	--tlp-svg-color-3: #1e2b3c;
	--tlp-svg-color-4: #cf5854;
	--tlp-svg-color-5: #c78a10;
	--tlp-svg-color-6: #0566ad;
} */
