/* Set default vars on body and reset on color scheme*/
:root,
body,
[data-color-scheme],
[data-color-scheme='light'] {
	--tlp-svg-color-1: #ffffff;
	--tlp-svg-color-2: #1e2b3c;
	--tlp-svg-color-3: #edcfc5;
	--tlp-svg-color-4: #f45f63;
	--tlp-svg-color-5: #e5aa20;
	--tlp-svg-color-6: #1e98f5;
}

[data-color-scheme='dark'] {
	--tlp-svg-color-1: #828282;
	--tlp-svg-color-2: #6d7885;
	--tlp-svg-color-3: #edcfc5;
	--tlp-svg-color-4: #7a292c;
	--tlp-svg-color-5: #c6a862;
	--tlp-svg-color-6: #1e5b89;
}
